{% extends "main.html" %}

{% block contents %}

<script>
  $(document).ready(function(){
    get_comment_list();
  });
  
  function addComment(){
    $.ajax({
      url:"{{url_for('board.comment_write')}}",
      type: "POST",
      data: $("#commentForm").serialize(),
      success: function(data){
        $("#comment").val("");
        get_comment_list();
      },
      error: function(request, status, error){
        var msg = "Error :" + request.status + "<br>"
        msg+="내용:"+request.responseText+"<br>"+error;
        console.log(msg);
      }
    });
  }

  function deleteComment(idx){
    $.ajax({
      url:"{{url_for('board.comment_delete')}}",
      type: "POST",
      cache: false,
      data: {
        "id": idx,
        "csrf_token": "{{csrf_token()}}"
      },
      success: function(data){
        get_comment_list();
        alert("삭제 되었습니다.");
      },
      error: function(request, status, error){
        var msg = "Error :" + request.status + "<br>"
        msg+="내용:"+request.responseText+"<br>"+error;
        console.log(msg);
      }
    })
  }

  function editComment(idx){
    var html="";
    var comment = $("#t"+idx).data("comment");
    html +="<textarea row=3 cols=110 id='i" + idx + "'>" + comment;
    html += "</textarea>";
    html += "<a href ='#' onclick='editCommentOk(\"" +idx+"\")'>저장</a>";
    html += " | "
    html += "<a href ='#' onclick='cancelEdit(\"" + idx +"\")'>취소</a>";
    $("#t"+idx).html(html);
  }

  function cancelEdit(idx){
    var html ="";
    var comment = $("#t"+idx).data("comment");
    html += comment;
    html += "<a href='#' onclick='deleteComment(\""+idx+"\")'>삭제</a>"
    html += " | <a href='#' onclick='editComment(\""+idx+"\")'>수정</a>"
    $("#t"+idx).html(html);
  }

  function editCommentOk(idx){
    var new_comment = $("#i"+idx).val();
    $.ajax({
      url:"{{url_for('board.comment_edit')}}",
      type: "POST",
      cache: false,
      data:{
        "id": idx,
        "csrf_token": "{{csrf_token()}}",
        "comment": new_comment,
      },
      success: function(data){
        get_comment_list();
        alert("수정 완료되었습니다.")
      },
      error: function(request, status, error){
        var msg = "Error :" + request.status + "<br>"
        msg+="내용:"+request.responseText+"<br>"+error;
        console.log(msg);
      }
    })
  }

  function get_comment_list(){
    $.ajax({
      url: "{{url_for('board.comment_list', root_idx = result.id)}}",
      type: "GET",
      cache: false,
      dataType: "json",
      success: function(data){
        c = data.lists;
        html = "";
        if(c.length>0){
          for(var i=0; i<c.length; i++){
            html += "<div>";
            html += "<table class='table'>";
            html += "<tr>";
            html += "<td width='100'><h6>" + c[i].name + "</h6></td>";
            html += "<td id='t" + c[i].id + "'data-comment='" + c[i].comment + "'>" + c[i].comment;
            if (c[i].owner){
              html += " <a href='#' onclick='deleteComment(\"" + c[i].id + "\")'>삭제</a>"
              html += " | <a href='#' onclick='editComment(\"" + c[i].id + "\")'>수정</a>"
            }
            html += "</td>"
            html += "<td class='text-right' width='200'>" + c[i].pubdate + "</td>";
            html += "</tr>";
            html += "</table>";
            html += "</div>";
          }
        }
        $("#cCnt").html(c.length);
        $("#commentList").html(html);
      },
      error: function(request, status, error){
        var msg = "Error :" + request.status + "<br>"
        msg+="내용:"+request.responseText+"<br>"+error;
        console.log(msg);
      }
    });
  }
</script>



<table class="table table-bordered">
  <tbody>
    <tr>
      <td colspan="2">{{result.title}}</td>
    </tr>

    <tr>
      <td>{{result.name}}</td>
      <td class="text-right">{{result.pubdate | formatdatetime}}</td>
    </tr>

    {% if result.attachfile %}
    <tr>
      <td>첨부파일</td>
      <td><a href="{{url_for('board.board_files', filename = result.attachfile)}}">{{result.attachfile}}</a></td>
    </tr>
    {% endif %}


    <tr>
      <td colspan="2"><div style="min-height:200px;">{% autoescape false %}{{result.contents}}{% endautoescape %}</div></td>
    </tr>
  </tbody> 
</table>

<!--
{{result.title}}
<br>
{{result.name}}
<br>
{{result.pubdate | formatdatetime}}
<br>
{{result.view}}
<br>
{{result.contents}}
<br>
-->

<a class="btn btn-primary" href = "{{url_for('board.lists', page=page, search=search, keyword=keyword)}}">리스트</a>

{% if session["id"]==result.writer_id  %}
  <a  class="btn btn-danger float-right ml-2" href = "{{url_for('board.board_delete', idx = result.id)}}">글삭제</a>
  <a class="btn btn-warning float-right" href = "{{url_for('board.board_edit', idx = result.id)}}">글수정</a>
{% endif %}
<br>
<br>

<form id="commentForm" name="commentForm" action="{{url_for('board.comment_write')}}" method="POST">

  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <input type="hidden" name="root_idx" value="{{result.id}}">

  <div>
    <span><strong>댓글</strong></span> <span id="cCnt">0</span>
    <table class="table">
      <tr>
        <td><textarea rows="3" cols="130" id="comment" name="comment" placeholder="댓글을 입력하세요."></textarea></td>
        <td><input type="button" onclick="addComment()" class="btn btn-success" style="height:70px;" value="등록하기"></td>
      </tr>
    </table>
  </div>

</form>

<!--
{% if comments|length  >0 %}
  {% for c in comments %}
     <div>
       <table class="table">
         <tr>
           <td width="100"><h6>{{c.name}}</h6></td>
           <td>{{c.comment}}</td>
           <td class="text-right" width="200">{{c.pubdate | formatdatetime}}</td>
         </tr>
       </table>
     </div>
  {% endfor%}
{% endif %}
-->

<div id="commentList"></div>

{% endblock %}